*.aab
*.apk
*.ap_
*.class
*.dex
*.iml
*.ipr
*.iws
*.jks
*.keystore
*.log
*.so

vcs.xml
.cxx
.DS_Store
.externalNativeBuild

.gradle/
.idea/
.navigation/

app/release/
bin/
build/
captures/
gen/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
/local.properties
out/
proguard/